<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website </title>
</head>
<body>
    {{> header}}
    <h2>{{screamIt welcome}}</h2>
    <p>This is my(surafel getachew) web page </p>
    <p>its under development and you will be notifed when done if u want to</p>
    <input type ="button" >subscribe</input>
  {{> footer}}

</body>
</html>